= simple_nested_form_for(@day, url: @day.new_record? ?  create_manage_calendar_path : update_manage_calendar_path(@day)) do |f|
  = f.error_notification

  .form-inputs
    = f.input :day_date

    = f.simple_fields_for :events do |event|
      %fieldset
        = event.label :description, "descripción del evento"
        = event.text_area :description, rows: 5
        = event.label :event_time, "hora del evento"
        = event.input :event_time
        = event.link_to_remove class: "btn", href: '#' do
          %i.icon-minus
          Quitar
    = f.link_to_add :events, class: "btn", href: '#' do
      %i.icon-plus
      Añadir
  .form-actions
    = f.button :submit 
