%table.table.table-bordered.table-striped.table-hover
  %tr
    %th
      Fecha
    %th
      Hora
    %th
      Evento
    %th
      Edición

  - @days.each do |day|
    %tr
      %th
        = day.day_date
      %th
        - if day.events.present?
          - day.events.each do |event|
            = event.event_time.strftime("%H:%M")
            %br
            %p
              ______
      %th
        - if day.events.present?
          - day.events.each do |event|
            = event.description
            %br
            %p
              _____
      %th
        = link_to edit_manage_calendar_path(day.id), class: "btn btn-primary with-tooltip", title: "Editar Día" do
          %i.icon-pencil

.span2.offset5
  = link_to new_manage_calendar_path, class: "btn btn-large" do
    %i.icon-plus
    Nuevo día
