%table.table.table-bordered.table-striped.table-hover
  %tr
    %th
      Fecha
    %th
      Hora
    %th
      Evento
    %th
      Edición

  - @days.each do |day|
    %tr
      %td
        = day.day_date.strftime("%d-%m-%Y")
      %td
        - if day.events.present?
          - day.events.each do |event|
            = event.event_time.strftime("%H:%M")
            %br
            %p
              ______
      %td
        - if day.events.present?
          - day.events.each do |event|
            = event.description
            %br
            %p
              _____
      %td
        = link_to edit_manage_calendar_path(day.id), class: "btn btn-primary with-tooltip", title: "Editar Día" do
          %i.icon-pencil
        = link_to destroy_manage_calendar_path(day.id), class: "btn btn-danger with-tooltip", method: :delete, data: { confirm: '¿Estas seguro de eliminar este día?' }, title: "Eliminar Día" do
          %i.icon-trash
