%ul.row-fluid.mycalendar
  - @days.each do |day|
    = day.day_date
    %li.span6
      - if day.events.present?
        - day.events.each do |event|
          .span2
            = event.event_time
          .span8
            = event.description
          .span2
            = link_to edit_manage_calendar_path(day.id), class: "btn btn-small" do
              %i.icon-plus
              Edit day  

.span2.offset5
  = link_to new_manage_calendar_path, class: "btn btn-large" do
    %i.icon-plus
    New Day
