%section.main.row
  = simple_form_for(@enrollment, :url => u_enrollment_create_path) do |f|
    = f.error_notification

    .form-inputs
      .full-name
        .span6
          = f.input :first_name, label: "Nombre", input_html: { class: 'span6' }
        .span6
          = f.input :last_name, label: "Apellidos"
      .personal-id
        .span3
          = f.input :dni_n, label: "Número DNI", input_html: { class: 'span3' }
        .span3
          = f.input :dni_l, label: "Letra", input_html: { class: 'span1' }
      .birt
        .span6
          = f.input :birt, label: "Fecha de nacimiento", input_html: { class: 'span2' }, :order => [:day, :month, :year], use_month_numbers: true, start_year: 1942, end_year: 2004
      .email
        .span12
          = f.input :email, label: "Email de contacto", input_html: { class: 'span3' }
      .pc_games
        .span12
          = f.association :tournaments, collection: Tournament.where(pc: true), :label_method => :game, :value_method => :id, as: :check_boxes, label: "Puedes seleccionar 2 competiciones de ordenador como máximo:"
      .video_games
        .span12
          = f.association :tournaments,  collection: Tournament.where(pc: false), :label_method => :game, :value_method => :id, as: :check_boxes, label: "Puedes seleccionar 2 competiciones de consola como máximo:"
      .extra
        .span6
          = f.input :nick, label: "Nick o pseudónimo:", input_html: { class: 'span3' }
        .span12
          = f.simple_fields_for :clan do |c|
            = c.input :name, label: "Si quieres sentarte con tus amigos, pon aquí el nombre de tu equipo (asegúrate que todos ponen el mismo exactamente)"
        .span12
          = f.input :hardware, label: "Dispositivos electrónicos (torre, portátil, consola, ...)", input_html: { class: 'span12' }

    .form-actions.span12
      Por favor antes de inscribirse lee nuestro
      = link_to "aviso legal", rules_path
      y si es menor de edad recuerda leer la parte destinada a los menores.
      %br
      = f.button :submit, "Aceptar e inscribirse"
