<h2>Editar <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :password, :autocomplete => "off", :hint => "déjalo en blanco si no quieres cambiarlo", :required => false %>
    <%= f.input :password_confirmation, :required => false %>
    <%= f.input :current_password, :hint => "necesitamos tu contraseña actual para efectuar los cambios", :required => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Actualizar" %>
  </div>
<% end %>

<h3>Cancelar m cuenta</h3>

<p>¿Insatisfecho? <%= link_to "Cancelar mi cuenta", registration_path(resource_name), :data => { :confirm => "¿Estás seguro?" }, :method => :delete %>.</p>

<%= link_to "Atrás", :back %>
