%section.main.row
  = simple_form_for(@enrollment, url: (@enrollment.new_record?) ? g_enrollment_create_path : g_enrollment_update_path(@enrollment)) do |f|
    = f.error_notification

    .form-inputs
      .full-name
        .span6
          = f.input :first_name, label: "Nombre", input_html: { class: 'span6' }
        .span6
          = f.input :last_name, label: "Apellidos"
      .personal-id
        .span3
          = f.input :dni_n, label: "Numeración del DNI", input_html: { class: 'span3' }
        .span3
          = f.input :dni_l, label: "Letra del DNI", input_html: { class: 'span1' }
      .birt
        .span6
          = f.input :birt, label: "Fecha de nacimiento", input_html: { class: 'span2' }, :order => [:day, :month, :year], use_month_numbers: true, start_year: 1942, end_year: 2004
      .email
        .span12
          = f.input :email, label: "Email de contacto", input_html: { class: 'span3' }
      .video_games
        .span12
          = f.association :tournaments,  collection: Tournament.where(pc: false), :label_method => :game, :value_method => :id, as: :check_boxes, label: "Puedes seleccionar 2 competiciones de consola como máximo:"
      .extra
        .span6
          = f.input :nick, label: "Nick o pseudonimo:", input_html: { class: 'span3' }
        .span12
          = f.simple_fields_for :clan do |c|
            = c.input :name, label: "Si quieres sentarte con tus amigos, pon aquí el nombre de tu equipo (asegúrate que todos ponen el mismo exactamente)"
        .span12
          = f.input :hardware, label: "Dispositivos electrónicos (torre, portatil, consola, ...)", input_html: { class: 'span12' }

    .form-actions.span12
      Por favor antes de inscribirse lea nuestro 
      = link_to "aviso legal", rules_path
      y si es menor de edad recuerde leer la parte destinada a los menores.
      = f.button :submit, "Aceptar e inscribirse"
