%table.table.table-bordered.table-striped.table-hover
  %tr
    %th Nombre
    %th Dni
    %th Edad
    %th Acciones
    %th Tipo

  - @enrollments.each do |enrollment|
    %tr
      %td= enrollment.full_name
      %td= enrollment.dni
      %td= enrollment.age
      %td
        .btn-group
          = link_to (enrollment.etype.name == 'LAN') ? edit_enrollment_path(enrollment) : g_enrollment_edit_path(enrollment.id), class: "btn btn-primary with-tooltip" , :title => "Editar" do
            %i.icon-pencil
          = link_to enrollment, method: :delete, data: { confirm: '¿Estás seguro de eliminar este post?' }, class: "btn btn-danger with-tooltip" , :title => "Borrar" do
            %i.icon-trash
          = link_to enrollment_paid_path(enrollment.id), method: :delete, data: { confirm: '¿Estás seguro que este usuario ha pagado?' }, class: "btn btn-danger with-tooltip" , :title => "Pagado" do
            %i €
      %td= enrollment.etype.name
