%a.btn.print-preview{href: "#"}
  %i.icon-print
  Imprimir

%table.table.table-bordered.table-striped.table-hover
  %tr
    %th Nombre
    %th DNI
    %th Edad
    %th Email
    %th Tipo
    %th Clan
    %th Pagó el
    %th Acciones

  - @enrollments.each do |enrollment|
    %tr
      %td= enrollment.full_name
      %td= enrollment.dni
      %td= enrollment.age
      %td= enrollment.email
      %td= enrollment.etype.name
      %td= enrollment.clan.name
      %td= enrollment.paid_at
      %td
        .btn-group
          = link_to enrollment_unpaid_path(enrollment.id), method: :delete, data: { confirm: '¿Estás seguro de querer cancelar este pago?' }, class: "btn btn-danger with-tooltip" , :title => "Cancelar pago" do
            %i.success - €

%ul.print
  - @enrollments.each do |enrollment|
    %li.enroll
      %ul
        %li.image
          %img{src: "/assets/acre.png"}
        %li.name
          %strong Nombre:
          = enrollment.full_name
        %li.dni
          %strong DNI:
          = enrollment.dni
        %li.age
          %strong Edad:
          = enrollment.age
        %li.type
          %strong Inscripción:
          = enrollment.etype.name
