%h2
  %u
    %strong= "Correo de confirmación de plaza LPL2012"

%br= "Hola #{@enrollment.first_name},"

%p= "¡Te comunicamos que oficialmente tienes plaza para Las Palmas LAN 2012!"

%p= "Ya hemos recibido confirmación de tu pago, y ahora sólo queda esperar a que llegue el día. Aprovechamos para recordarte una lista de cosas a tener en cuenta antes de asistir al evento: "

  %ul
    %li= "Acuérdate de que si eres menor, deberás traer la autorización de tu tutor legal. Si aún no la tienes, recuerda que se encuentra disponible en la web "
      %u
        =link_to "aquí."

    %li= "Recuerda por tu propia seguridad, la del resto de participantes, y la integridad de tu ordenador, que "
      %strong= "no"
      "se deben apilar regletas de corriente, ya que no están diseñadas para soportar tanta corriente, y podrían quemarse."

    %li= "No olvides las cosas básicas: "
    %ul
      %li= "Torre y pantalla (sí, muy obvio), cables de corriente, regleta, teclado y ratón, en caso de que vengas con tu PC."
      %li= "Consola, mandos, pantalla y cables de alimentación y regleta, en caso de que vengas con tu consola."
      %li= "Saco de dormir y útiles de aseo."
      %li= "En general, cualquier cosa que puedas necesitar para pasar unos días fuera de casa."


%p= "En caso de tener cualquier duda, contacta con nosotros cuanto antes en info@ion6.net o llama por teléfono a 928242270, y lo intentaremos solucionar."

%p= "Muchas gracias por confiar en nosotros, esperamos que disfrutes del evento que con tanta ilusión (y sudor) hemos organizado."


%p= "El equipo de Las Palmas LAN 2012"