%h1.well Blog
- @posts.each do |post|
  %article
    %header
      .title.pull-left
        %strong
          = link_to post.title, post
      .social.pull-right
        = social_share_button_tag(post.title, link: post_url(post)) 
    %section
      = post.intro.html_safe
    %footer
      .read_more
        = link_to 'Leer más >>', post


= link_to 'New Post', new_post_path
