%article
  %header
    .title.pull-left
      %strong
        = @post.title
    .social.pull-right
      = social_share_button_tag(@post.title, link: post_url(@post)) 
  %section
    = @post.content.html_safe

= link_to 'Edit', edit_post_path(@post)
\|
= link_to 'Back', posts_path
