.actions
  = link_to 'Editar', edit_post_path(@post)
  \|
  = link_to 'Volver a la administración', posts_path
%article
  %header
    .title.pull-left
      %strong
        = @post.title + "- Introducción"
    .social.pull-right
  %section
    = @post.intro.html_safe

%article
  %header
    .title.pull-left
      %strong
        = @post.title + "Post entero"
    .social.pull-right
  %section
    = @post.content.html_safe

