.actions
  = link_to 'Editar', edit_post_path(@post)
  \|
  = link_to 'Volver a la administración', posts_path
%article
  %header
    .title.pull-left
      %strong
        = @post.title + " - Introducción"
    .social.pull-right
      -if @post.published_at.present?
        = content_tag :div, "",class: "twitter", data: {text: @post.title + " " + article_url(@post)}
        = content_tag :div, "",class: "facebook", data: {text: @post.title + " " + article_url(@post)}
      -else
        .fake
          %a.social-share-button-twitter.fake-social
            %i.icon-twitter
        .fake
          %a.social-share-button-facebook.fake-social
            %i.icon-facebook
  %section
    = @post.intro.html_safe

%article
  %header
    .title.pull-left
      %strong
        = @post.title + " - Post entero"
    .social.pull-right
      -if @post.published_at.present?
        = content_tag :div, "",class: "twitter", data: {text: @post.title + " " + article_url(@post)}
        = content_tag :div, "",class: "facebook", data: {text: @post.title + " " + article_url(@post)}
      -else
        .fake
          %a.social-share-button-twitter.fake-social
            %i.icon-twitter
        .fake
          %a.social-share-button-facebook.fake-social
            %i.icon-facebook
  %section
    = @post.content.html_safe

