!!! 5
%html
  %head
    %title Las Palmas LAN 2012
    = stylesheet_link_tag    "admin", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body.admin
    %header
      .navbar.navbar-inverse
        .navbar-inner
          .container
            .brand Administración
            %ul.nav
              %li{class: (@current_controller == 'posts' ? "dropdown active" : "dropdown")}
                %a.dropdown-toggle{data: {toggle: "dropdown"}}
                  Posts
                  %b.caret
                %ul.dropdown-menu
                  %li
                    =link_to "Lista", posts_path
                  %li
                    =link_to "Nuevo", new_post_path
              %li{class: (@current_controller == 'manage_calendar' ? "dropdown active" : "dropdown")}
                %a.dropdown-toggle{data: {toggle: "dropdown"}}
                  Calendario
                  %b.caret
                %ul.dropdown-menu
                  %li
                    =link_to "Eventos", manage_calendars_path
                  %li
                    =link_to "Nuevo Dia", new_manage_calendar_path
              %li{class: (@current_controller == 'tournaments' ? "dropdown active" : "dropdown")}
                %a.dropdown-toggle{data: {toggle: "dropdown"}}
                  Competiciones
                  %b.caret
                %ul.dropdown-menu
                  %li
                    =link_to "Competiciones", tournaments_path
                  %li
                    =link_to "Nueva competición", new_tournament_path
              %li{class: (@current_controller == 'manage_admins' ? "dropdown active" : "dropdown")}
                %a.dropdown-toggle{data: {toggle: "dropdown"}}
                  Admins
                  %b.caret
                %ul.dropdown-menu
                  %li
                    =link_to "Lista de admins", admins_list_path
              %li{class: ((@current_controller == 'enrollments' or @current_controller == 'game_enrollments') ? "dropdown active" : "dropdown")}
                %a.dropdown-toggle{data: {toggle: "dropdown"}}
                  Inscripciones
                  %b.caret
                %ul.dropdown-menu
                  %li
                    =link_to "Sin confirmar", enrollments_path
                  %li
                    =link_to "Nueva tipo LAN", new_enrollment_path
                  %li
                    =link_to "Nueva tipo consolas", game_enrollments_new_path
              %li{class: "dropdown"}
                %a.dropdown-toggle{data: {toggle: "dropdown"}}
                  = current_admin.email
                  %b.caret
                %ul.dropdown-menu
                  %li
                    =link_to "Cambiar datos personales", edit_admin_registration_path
                  %li
                    = link_to('Logout', destroy_admin_session_path, :method => :delete)
    .container
      .row
        .span12
          = yield
